body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
      }
      
.container{
   padding-left: 100px;
  padding-right: 100px;
}
.banner {
  height: 200px;
  background-image: url(https://i.pinimg.com/736x/f4/9c/30/f49c302287d454aa9aa74faa1e2c0dbe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul{
  list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:50%;
}

.flex{
  display: flex;
  justify-content:center;
  align-items: center;
}

img{
  height: 500px;
  width: 300px;
}