.card {
  border-radius: 20px;
  background: rgba(192, 6, 123, 0.319);
  height: 250px;
  margin-left: 30px;
  width: 600px;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
}

.position {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tasks-list {
  background-color: #ac58a864;
  border-radius: 20px;
}

.toDo-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  gap: 5px;
  padding: 20px;
  margin: 50px 0 0 0;
}
button {
  border: 1px solid rgb(159, 53, 71);
  padding: 5px 15px;
  align-items: flex-start;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  display: inline-flex;
  justify-content: space-between;
}
button:hover{
  background-color: #721260 !important;
}
button:active{
  background-color: #91167ab1 !important;
}

.gap {
  display: flex;
  gap: 10px;
}

.size {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f7fb;
  box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),
    0px 1px 2px 0px rgba(29, 33, 38, 0.1);
  border: 1px solid pink;
  padding: 10px;
  margin-right: 5px;
}

textarea {
  resize: none;
  margin-top: 5px;
  width: 360px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f7fb;
  box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),
    0px 1px 2px 0px rgba(29, 33, 38, 0.1);
  border: 1px solid pink;
  padding: 10px;
}

select{
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid pink;
  background: #f5f7fb;
  box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03),
    0px 1px 2px 0px rgba(29, 33, 38, 0.1);
  border: 1px solid pink;
  padding: 10px;
  margin: 5px 0 0px 0;
  color: rgb(108, 107, 107);
}

.task-header{ 
  
  display: flex;
    align-items: center;
    justify-content: flex-start;
}